:root {
  --basic-color: #849D8F;
  --basic-white: #ffffff;
  --basic-text:  #323232;
  --basic-color-2: #8996a6;
  --basic-color-3: #9d8b84;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  background-color: var(--basic-color);
}

a {
  text-decoration: none;
  color: var(--basic-white);
  display: block;
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.site-wrapper {
  min-width: 940px;
  margin-top: -100px;
  margin-bottom: -50px;
  background-repeat: no-repeat;
  background-position: top center;
}

.site-wrapper-1 {
  background-color: var(--basic-color);
  background-image: url("../img/Group1.png");
}

.site-wrapper-2 {
  background-color: var(--basic-color-2);
  background-image: url("../img/Group2.png");
}

.site-wrapper-3 {
  background-color: var(--basic-color-3); 
  background-image: url("../img/Group3.png");
}

.container {
  width: 900px;
  height: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.slider {
  position: relative;
  text-align: center;
  color: var(--basic-white);
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-item h3{
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  position: relative;
  top: 320px;
  left: 0;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider-controls {
  position: relative;
  top: 275px;
  left: 0;
  z-index: 20;
  display: flex;
  width: 67px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current {
  background-color: var(--basic-white);
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 99px;
  width: 100%;
  margin-bottom: 70px;
}

.main-logo {
  width: 154px;
  height: 64px;
  padding: 9px 27px;
  z-index: 2;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;  
  background-color: transparent;
  min-width: 450px;
}

.main-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main-menu li {
  margin-left: 24px;
  margin-right: 32px;
  list-style: none;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.main-menu a:hover {
  color: var(--basic-text);
  background-color: var(--basic-white);
  padding: 9px 13px 11px 13px;
  border-radius: 26px;
  text-decoration: none;
}

.main-menu a:focus {
  color: var(--basic-text);
  background-color: #ededed;
  padding: 9px 13px 11px 13px;
  border-radius: 26px;
  text-decoration: none;
}

.active {
  background: #D07058;
  border-radius: 26px;
  color: var(--basic-white);
  padding: 9px 13px 11px 13px;
  text-decoration: none;
}

.user-navigation {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.user-navigation a {
  text-transform: none;
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  height: 16px;
  text-align: center;
  vertical-align: middle;
  box-shadow: none;
  text-shadow: none;
}

.user-navigation a:hover {
  color: var(--basic-text);
  background-color: var(--basic-white);
}

.loupe {
  position: relative;
  display: inline-block;
  padding: 8px;
  width: 32px;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  margin: 10px;
}

.entrance {
  padding: 8px 16px 8px 40px;
  width: 92px;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  margin: 10px;
}

.basket {
  position: relative;
  display: inline-block;
  padding: 8px 16px 8px 45px;
  width: 100px;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  margin: 10px;
}

.user-navigation .full-basket {
  position: relative;
  display: inline-block;
  padding: 8px 16px 8px 40px;
  width: 118px;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  background-color: var(--basic-white);
  color: var(--basic-text);
}

.full-basket::before {
  content: "";
  display: inline-block;
  position: absolute;
  right: 80px;
  top: 5px;
  z-index: 3;
  width: 21px;
  height: 20px;
  background-image: url("../img/Group4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.entrance::before {
  content: "";
  display: inline-block;
  position: absolute;
  right: 60px;
  top: 5px;
  width: 20px;
  height: 19px;
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0; 
}

.loupe::before {
  content: "";
  display: inline-block;
  position: relative;
  right: 0px;
  top: 0px;
  width: 20px;
  height: 19px;
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: 0 0; 
}

.basket::before {
  content: "";
  display: inline-block;
  position: absolute;
  right: 80px;
  top: 5px;
  z-index: 2;
  width: 21px;
  height: 20px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.entrance:hover::before {
  content: "";
  display: inline-block;
  position: absolute;
  right: 60px;
  top: 5px;
  width: 20px;
  height: 19px;
  background-image: url("../img/entrance2.svg");
  background-repeat: no-repeat;
  background-position: 0 0; 
}

.loupe:hover::before {
  content: "";
  display: inline-block;
  position: relative;
  right: 0px;
  top: 0px;
  width: 20px;
  height: 19px;
  background-image: url("../img/loupe2.svg");
  background-repeat: no-repeat;
  background-position: 0 0; 
}

.basket:hover::before {
  content: "";
  display: inline-block;
  position: absolute;
  right: 80px;
  top: 5px;
  z-index: 2;
  width: 21px;
  height: 20px;
  background-image: url("../img/basket2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.work-time {
  color: var(--basic-white);
  width: 100%;
  margin-left: 100%-167px;
  position: relative;
  left: 500px;
  font-size: 14px;
  text-align: center;
}

.work-time a {
  font-size: 22px;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

 .work-time a:hover,
 .work-time a:focus,
 .info-container a:hover,
 .info-container a:focus {
  color: #ffbc9e;
}

.modal-basket .button,
.button {
  display: inline-block;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #f26843;
  border-radius: 70px;
  border: none;
  color: var(--basic-white);
  font-weight: 600;
  font-size: 18px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: linear-gradient(to bottom, #f26843, #e74a35);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
 
.button:active {
  background: linear-gradient(to bottom, #d84732, #e1613e);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.button-main {
  text-align: center;
  margin: 12px 44px;
  font-size: 32px;
  line-height: 44px;
  vertical-align: top;
  width: 278px;
  height: 63px;
  position: relative;
  top: 320px;
  left: 0;
  border-radius: 70px;
  text-decoration: none;
  text-transform: none;
}

.banner {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.raspberry {
  color: var(--basic-white);
  width: 560px;
  height: 229px;
  background-image: url(../img/raspberry.jpg);
  border-radius: 16px;
}

.chocolate {
  color: var(--basic-white);
  width: 560px;
  height: 229px;
  background-image: url(../img/chocolate.jpg);
  border-radius: 16px;
} 

.raspberry h3 {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  padding-left: 16px;
}

.raspberry p {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  padding-left: 16px;
}

.chocolate h3 {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  padding-left: 16px;
}

.chocolate p {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  padding-left: 16px;
}

.want-raspberry {
  width: 164px;
  text-decoration: none;
  padding:16px 22px 15px 22px;
  position: relative;
  left: 330px;
  z-index: 7;
}

.want-chocolate {
  width: 191px;
  text-decoration: none;
  padding: 16px 22px 15px 22px;
  position: relative;
  left: 300px;
  z-index: 7;
}

.hit-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: var(--basic-white);
  height: 267px;
  margin-top: 40px;
  margin-bottom: 97px;
}

.hit-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  display: inline-block;
}

.hit-item::before {
  content: "";
  display: inline-block;
  position: absolute;
  z-index: 6;
  left: 20px;
  top: 100px;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;}

.hit-item p {
  font-weight: bold;
  font-size: 45px;
  position: relative;
  bottom: 130px;
  right: 20px;
}

.hit-item span {
  font-weight: bold;
  font-size: 30px;
}

.hit-item img {
  margin: 26px;
  border-radius: 50%;
}

.hit-item h3 {
  align-items: center;
  font-size: 16px;
  width: 267px;
  order: 2;
  position: relative;
  top: 375px;
  align-items: center;
  text-align: center;
}

.goods-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: var(--basic-white);
}

.goods-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 307px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 26px;
}

.goods-item:hover::before {
  content: "";
  position: absolute;
  top: -15px;
  display: block;
  width: 293px;
  height: 402px;
  background: var(--basic-white);
  opacity: 0.2;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.goods-item p {
  font-weight: bold;
  font-size: 45px;
  position: relative;
  top: -110px;
  left: -60px;
}

.goods-item span {
  font-weight: bold;
  font-size: 30px;
}

.goods-item img {
  border-radius: 50%;
}

.goods-item h3 {
  width: 267px;
  font-size: 16px;
  order: 2;
  position: absolute;
  top: 250px;
  align-items: center;
  text-align: center;
}

.button-view {
  padding: 12px 16px;
  text-decoration: none;
  position: absolute ;
  top: 330px;
  display: none;
}

.goods-item:hover .button-view {
  display: block;
}


.advantages {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-image: url(../img/pattern.png);
  font-weight: normal;
  width: 100%;
  height: 306px;
  border-radius: 16px;
  
}
.advantages-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.advantages-list p {
  width: 480px;
  max-height: 80px;
  margin-left: 75px;
  font-size: 16px;
  line-height: 22px;  
}
.advantages-list p:nth-child(even) {
  margin-left: 81px;
}

.advantages-list li {
  list-style: none;
  position: relative;
}

.advantages h2 {
  width: 995px;
  height: 60px;
  font-size: 24px;
  line-height: 30px;
  margin-left: 20px;
  margin-bottom: 0px;
  
}

.first-advantage::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 10px;
  width: 49px; 
  height: 49px; 
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.second-advantage::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 10px;
  width: 49px; 
  height: 49px; 
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.third-advantage::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 10px;
  width: 49px; 
  height: 49px; 
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.fouth-advantage::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 10px;
  width: 49px; 
  height: 49px; 
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.news {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--basic-text);
}

.new-blog {
  color: var(--basic-text);
  border-radius: 16px;
  width: 560px;
  height: 220px;
  margin: 26px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  background-image: url(../img/strawberry.png);
}

.new-blog h2 {
  padding: 15px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 22px;
}

.new-blog a {
  color: var(--basic-text);
  padding-left: 20px;
  width: 287px;
  height: 77px;
  font-size: 24px;
  line-height: 30px;
}

.subscription-border {
  width: 548px;
  height: 210px;
  border-radius: 16px;
  padding: 5px 6px;
  background-image: url(../img/bg-post.svg);
  background-size: cover;
  background-position: top;
}

.subscription {
  color: #5A5A5A;
  min-width: 548px;
  min-height: 210px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 22px;
  background: #f8f7f4;
  border-radius: 16px;
  position: relative;
  bottom: 15px;
}

.subscription input {
  width: 360px;
  height: 44px;
  margin-top: 17px;
  margin-left: 17px;
}

.subscription p {
  width: 512px;
  height: 55px;
  padding-left: 20px;
  padding-top: 29px;
}

.subscription button {
  min-width: 130px;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  padding: 14px 19px 13px 19px;
}

.modal {
  display: none;
  margin: auto;
  color: var(--basic-text);
  background-color: #f8f7f4;
}

.menu-list {
  background-color: var(--basic-white);
  width: 143px;
  min-height: 171px;
  position: absolute;
  padding: 0;
  z-index: 2;
}

.menu-list li {
  font-size: 14px;
  align-items: center;
  color: var(--basic-text);
  padding: 13px 21px;
  margin: 0;
}

.menu-list li:first-child {
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}

.menu-list li:hover {
  background-color: #fbded7;
}

.search {
  max-width: 341px;
  max-height: 84px;
  position: absolute;
  left: 620px;
  top: 59px;
  z-index: 2;
  padding: 20px 15px;
  border-radius: 4px;
}

.search input {
  width: 311px;
  height: 44px;
  border: 1px solid #d3d3d2;
}

.modal-entrance {
  width: 277px;
  height: 214px;
  z-index: 2;
  position: absolute;
  left: 776px;
  top: 59px;
  border-radius: 4px;
}

.modal-entrance input {
  font-size: 16px;
  color: #999999;
  width: 241px;
  height: 44px;
  margin-top: 20px;
  margin-left: 19px;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.modal-entrance a {
  font-size: 13px;
  color: var(--basic-text);
  position: relative;
  background-color: transparent;
  bottom: 40px;
  left: 50px;
}

.modal-entrance button {
  margin-top: 20px;
  margin-left: 19px;
  position: relative;
  width: 103px;
  height: 44px
}
.modal-basket {
  width: 539px;
  height: 242px;
  z-index: 2;
  position: absolute;
  left: 726px;
  top: 59px;
  border-radius: 4px;
  background: #f8f7f4;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}

.modal-basket table {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  border-bottom: 1px solid #cacac7;
  position: relative;
  left: 60px;
}

.column-1:before {
  content: "";
  display: inline-block;
  position: absolute;
  right: 70px;
  top: 20px;
  width: 11px;
  height: 11px;
  background-image: url("../img/x.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-basket td {
 margin: 26px;
 height: 60px;
 position: relative;
}

.column-1 {
  width: 50px;
}

.column-2 {
  width: 250px;
}

.column-3 {
  width: 100px;
}

.column-4 {
  width: 55px;
}

.modal-basket p {
  position: relative;
  left: 410px;
}

.order-button {
  padding: 13px 15px;
  position: relative;
  left: 320px;
}

.answer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 477px;
  height: 441px;
  border-radius: 6px;
}

.answer fieldset {
  border: none;
}

.answer legend {
  font-size: 24px;
  line-height: 28px;
}

.mail {
  font-size: 16px;
  color: #999999;
  width: 267px;
  height: 44px;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.name {
  font-size: 16px;
  color: #999999;
  width: 267px;
  height: 44px;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.message {
  font-size: 16px;
  color: #999999;
  width: 428px;
  height: 154px;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.answer button {
  width: 140px;
  height: 44px;
  border-radius: 70px;
  position: relative;
  left: 312px;
  top: 10px;
}

.main-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-height: 103px;
}

.social-button {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  align-items: center;
  justify-content: space-between;
}

.social {
  padding: 12px;
}

.info-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 450px;
  height: 70px;
  margin-left: 70px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal; 
  text-transform: capitalize; 
  font-size: 13px;
  line-height: 18px;
  
}

.info-container li {
  list-style: none;
  padding: 11px 32px;
}

.info-container a {
  white-space: pre;
}

.logo-academy {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 250px;
  margin-left: 129px;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-white);
}

.logo-academy img {
  padding: 0;
  width: 108px;
  height: 39px;
  margin-right: 109px;
}

.logo-academy p {
  float: left;
  white-space: pre;
  margin-top: 8px;
}

.logo-academy a {
  text-decoration: none;
  white-space: pre;
  margin-top: 8px;
}

.heart {
  display: inline-block;
  position: relative;
}

.heart::before {
  content: "";
  display: inline-block;
  position: absolute;
  right: 115px;
  top: 0;
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.map {
  width: 100%;
  height: 430px;
}

.contact {
  position: relative;
  left: 75%;
  bottom: 400px;
  width: 303px;
  height: 306px;
  background-color: #fefefe;
  border-radius: 16px;
  z-index: 2;
}

.contact p {
  font-size: 14px;
  line-height: 20px;
  margin-left: 25px;
}

.contact a,
.contact address,
.contact .button {
  color: var(--basic-text);
  font-size: 18px;
  line-height: 24px;
  margin-left: 25px;
  margin-right: 25px;
}

.contact .button {
  padding: 13px 28px;
  align-items: center;
  color: var(--basic-white);
  width: 253px;
  text-transform: none;
}

.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: var(--basic-white);
}

.filters fieldset {
  border: none;
}

.filters label {
  font-size: 14px;
}

.sorting-goods {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  width: 196px;
  height: 36px;
  color: var(--basic-white);
  border: 0px;
}

.toppings {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  width: 711px;
  height: 36px;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

.toppings label{
  padding: 13px;
  align-items: center;
  position: relative;
  display: inline-block;
}

.fat {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  width: 425px;
  height: 36px;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

.fat label{
  padding: 13px;
  align-items: center;
  position: relative;
  display: inline-block;
}

.filter-button {
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  width: 144px;
  height: 36px;
  border-radius: 20px;
  position: relative;
  top: 10px;
  color: var(--basic-white);
}
.sorting select {
  width: 196px;
  height: 36px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}


.filter-item {
  margin: 0;
  padding: 0;
  width: 260px;
  margin: 0;
  height: 70px;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;
  bottom: 45px;
  width: 218px; 
  height: 36px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.range-controls .scale {
  height: 2px;
  width: 80%;
  background-color: rgba(248, 247, 244, 0.5);
  position: relative;
  top: 13px;
  left: 25px;
}

.range-controls .bar {
  width: 106px;
  height: 2px;
  position: relative;
  left: 12px;
  background: #f8f7f4;
}

.toggle {
  position: relative;
  bottom: 18px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.toggle-min {
  top: 3px;
  left: 28px;
}

.toggle-max {
  left: 138px;
}

.fat label::before{
  content: "";
  position: absolute;
  right: 60px;
  top: 0px;
  z-index: 2;
  width: 18px;
  height: 18px;
  background-image: url("../img/radio-off.svg");
  background-repeat: repeat-x;
  background-position: 0 0;
}

.fat input[type="radio"]:checked + label::before{
  content: "";
  position: absolute;
  left: 10px;
  top: 0px;
  width: 18px;
  height: 18px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.toppings label::before{
  content: "";
  position: absolute;
  left: 10px;
  top: 0px;
  width: 18px;
  height: 18px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.fat input[type="radio"]:checked + label::before{
  content: "";
  position: absolute;
  left: 10px;
  top: 0px;
  width: 18px;
  height: 18px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
